.second{
    /* background-color: rgb(189, 203, 216); */
    background-color: rgb(231,243,247);
    display: flex;  
}
.second img{
    width: 100%;
    height: 100%;
 }
 .none, .nonee{
    flex: 1;
    /* background-color: aqua; */
}
.image{
    flex: 5;
    height: 530px;
    /* background-color: antiquewhite; */
}
.textBox{
    flex: 5;
    height: 430px;
    background-color: rgb(96, 156, 198);
    margin-left : -80px;
    
    
}
.textBox h1{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textBox p{
    display: flex;
    padding: 40px;
}
