.fifth {
  background-color: rgb(205, 231, 239);
}

.fifth .people {
  display: flex;
}
.fifth .faltus {
  flex: 5;
}
.fifth .hr {
  flex: 0.5;
}
.fifth hr {
  height: 3px;
  color: solid rgb(4, 1, 1);
}
.fifth .header {
  /* flex: 1; */
  margin:0 .8rem; 
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.5px;
  font-size:1.3rem;
}
.fifth .hr {
  flex: 0.5;
}
.fifth .faltu {
  flex: 5;
}
.fifth .imgPeople {
  /* display: grid;
  grid-template-columns: 30% 30% 30%; */
 
  /* grid-gap: .7rem; */
  /* align-content:space-around; */
  display: flex;
  /* flex-wrap: wrap; */
  font-size: 30px;
  text-align: center;
  justify-content: center;
}
.imgPeople_1 {
  background-color: #f1f1f1;
  /* padding: 10px; */
  flex: 50%;
}

.fifth img {
  width: 90%;
  /* height: 100%; */
}

.image1 {
  position: relative;
  justify-content: center;
  /* flex:33%; */
}
.overlay {
  position: absolute;
  bottom: 0;
  /* left: 0; */
  right: 5%;
  background-color: #fafafa;

  overflow: hidden;
  width: 90%;
  height: 0;
  transition: 0.5s ease;
  opacity: 1;
  color: black;
}
.image1:hover .overlay {
  height: 100%;
}

.text {
  color: rgb(232, 219, 219);
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:90%;
  /* text-align: center; */
}
.people_name_position{
  font-size:1.2vw;
  font-weight:500;
}
.fifth .company {
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8vw;
  line-height: 110%;
  /* or 28px */

  /* display: flex;
align-items: flex-end;
text-align: center; */
  letter-spacing: 0.03em;
  color: #040713;
}
@media only screen and (max-width: 400px) {
 .fifth .imgPeople{
  display: flex;
  flex-direction: column;
  margin-bottom:1rem;
 } 
 .image{
  margin-bottom:1rem;
 }
 .fifth .company{
  font-size:4vw;
 }
 .people_name_position{
  font-size:4vw;
 }
}